PORT=3000

# MongoDB (usa para migrar o chat, si no la llenas app no arranca)
MONGO_URI=mongodb://localhost:27017/versal

# PostgreSQL (principal, usado con Prisma)
DATABASE_URL=postgresql://user:password@localhost:5432/versal

# JWT
JWT_SECRET=supersecretjwtkey

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_CURRENCY=usd

# Frontend
FRONTEND_URL=http://127.0.0.1:5500


#OAuth para Google
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_OAUTH_CALLBACK_URL=

# Cloudinary (para almacenar imágenes)
CLOUDINARY_CLOUD_NAME=di4qby2sl
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=