PORT=3000

# PostgreSQL
# Desarrollo local:
DATABASE_URL=postgresql://user:password@localhost:5432/versal

# docker-compose:
# DATABASE_URL=postgresql://postgres:postgres@postgres:5432/versal

# JWT
JWT_SECRET=supersecretjwtkey

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_CURRENCY=usd

# OAuth para Google
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_OAUTH_CALLBACK_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Docker
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name